* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /* background-color: lightblue; */
}

nav {
    font-size: 1.5em;
    border-bottom: 1px darkblue solid;
    /* margin-bottom: 2em; */
}

h1 {
    text-align: center;
    color: lightcoral;
    margin-bottom: 20px;
}

.allDetailLogin form {
    width: 40%;
    border: 1px solid rgb(128, 180, 240);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 30px;
}

.allDetailLogin form input {
    margin-bottom: 20px;
    color: rgb(128, 184, 240);
    font-size: 20px;
}