* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /* background-color: lightblue; */
}

nav {
    font-size: 1.5em;
    border-bottom: 1px darkblue solid;
    /* margin-bottom: 2em; */
}

h1 {
    text-align: center;
    color: lightcoral;
    margin-bottom: 20px;
}

.selectRole {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.selectRole button {
    padding: 10px 20px;
    border: 1px solid rgb(126, 220, 252);
    border-radius: 10px;
    background-color: rgb(128, 199, 240);
    color: rgb(227, 24, 51);
    font-size: 20px;
    margin-left: 10px;
}

.selectRole button:hover {
    background-color: lightblue;
    color: rgb(11, 11, 11);
    cursor: pointer;
}

.patientDetail form {
    width: 40%;
    border: 1px solid rgb(128, 199, 240);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 30px;
    margin-top: 20px;
    display: none;
}

.patientDetail form input {
    margin-bottom: 20px;
    color: rgb(128, 201, 240);
    font-size: 20px;
}

.doctorDetail form {
    width: 40%;
    border: 1px solid rgb(94, 192, 237);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 30px;
    margin-top: 20px;
    display: none;
}

.doctorDetail form input,
select {
    margin-bottom: 20px;
    color: rgb(36, 146, 230);
    font-size: 20px;
    font-weight: 600;
}